.popap__input {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 100%;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 30px 0;
  display: block;
}

.popap__input:last-of-type {
  margin: 0 0 48px 0;
}

.popap__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
